* { margin: 0px; padding: 0px; }
body {
	font-size: 120%;
	background:black;
}
.header {
	width: 40%;
	margin: 20px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, .content {
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}

.profile_info div {
	display: inline-block; 
	margin: 5px;
}
.profile_info:after {
	content: "";
	display: block;
	clear: both;
}



.asburger{
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url('../image/1a.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    z-index: 2;
    overflow-y: hidden;
    transition: 0.5s;

}
.list-plongeante{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;

}

.asburger a{
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: gray;
    display: block;
    transition: 0.3s;

}


.asburger a:hover, .asburger a:focus {
    color: whitesmoke;
}

.burger{
    color: #0e4749;
    left: 10px;
    top: 20px;
    font-size: 50px;
    cursor: pointer;
    display: flex;
    margin-left: 97%;
}
.asburger .bouton {
    top: 20%;
    right: 50px;
    font-size: 70px;
    color: #73937e;
}



@media screen and (max-height:600px) {

    .asburger .bouton {
        font-size: 40px;
    }
    .burger{
       
        font-size: 40px;
        
        
    }
}
/* light mode */
hr {
    width: 200px;
}
h1 {
    text-align: center;
    padding-top: 70px;
    
}
.contenu {
    padding: 50px 10%;
    text-align: justify;
    

}
.btn-toggle {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #333;
    color: #fff;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
}

body.light {
    color: var(--main-color)!important;
    background:var(--sec-color)!important;
    /* important pour la domomination de l'élément */
}
body.light .btn-toggle {
    background: var(--main-color);
    color: var(--sec-color);
}
.bloc video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
}
input:invalid{
    border: 1px solid red;
}
input:valid{
    border: 1px solid springgreen;
}
@media (max-width:600px){
    .header {
        width: 20%;
        position: fixed;
       
    }
}